.formularioCompleto{
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.titulo{
    color: var(--verde-medio);
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 4.5rem;
    width: 60%;
    margin-bottom: 3rem;
}