.container{
    background-color: var(--verde-claro);
    height: 100vh;
    padding: 2rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto{
    display: flex;
    gap: 1rem;
    align-items: start;
    padding-bottom: 1rem;
}

.texto h3{
    font-size: 3rem;
    font-weight: 400;
    color: var(--preto-medio);
    font-family: var(--fonte-titulo);
}
